@import "./fonticon";
@import "./roboto";

* {
	margin: 0;
	padding: 0;
}
html, body{
    font-family: 'Roboto', sans-serif;
}
.fluid-row {
	margin: 0 auto;
	&:after {
		display: block;
		content: '';
		clear: both;
	}
	[class*='col-'] {
		float: left; 
		min-height: 1px; 
		width: 16.66%; 
		/*-- our gutter -- */
		padding: 10px; 
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
		&:first-child {
			padding-left: 0;
		}
		&:last-child {
			padding-right: 0;
		}
	}
	.col-1 { width: 8.33333333%;}
	.col-2{ width: 16.66666666%; }
	.col-3{ width: 25%; }
	.col-4{ width: 33.33333333%;    }
	.col-5{ width: 41.66666666%; }
	.col-6{ width: 50%; }
	.col-7{ width: 58.33333333%;   }
	.col-8{ width: 66.66666666%;   }
	.col-9{ width: 75%;   }
	.col-10{ width: 83.3333333%;   }
	.col-11{ width: 91.66666666%;   }
	.col-12{ 
		width: 100%;   
		padding-left: 0;
		padding-right: 0;
	}
	.col-20per {
		width: 20%;
	}
}

.left-panel {
	& > div {
		top: 64px !important;
		width: 25% !important;
	}
}
.search-field {
	padding: 0 15px;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
.right-container {
	padding: 0 20px 0 10px;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	canvas {
		margin-top: 30px;
	}
}
.fixed-header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	z-index: 1;
}
.main-content {
	margin-top: 65px;
	margin-bottom: 70px;
}
.footer-style {
	display: block;
    width: 100%;
    text-align: center;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #fff;
	z-index: 9999;
	box-shadow: 0 0 5px rgba(0, 0, 0, .3);
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, .3);
	padding: 15px;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

@media screen and (max-width: 768px) {
	.fluid-row {
		[class*='col-'] {
			float: none; 
			width: 100%;
			padding: 10px 0;
		}
	}
	.main-content {
		margin-top: 90px;
	}
	.right-container {
		padding: 0 20px;
	}
	.left-panel {
		overflow-x: auto; 
		& > div {
			width: 100% !important;
			height: auto !important;
			min-width: 700px !important;
			& > div {
				display: inline-block !important;
			}
		}
	}
}